<h1>Edition du profil</h1>
<%= form_for (@user) do |f| %>
<%= render "fields", f: f%>
<div class="action">
  <%= f.submit "Mise à jour",class:"btn btn-primary"%></div>
<% end %>
<div><br/>
  <%= gravatar_for @user%>
  <%= link_gravatar%>
</div>
</div>
</div>
